$s-darken: 13%;
$s-lighten: 13%;

$col-background: #41363C;
$col-background-alpha: 0.85;

$col-text: #dcdccc;
$col-text-dark: #FFF;//darken( $col-text, 20% );
$col-text-dark: $col-background; 

$col-flavor: #8CD0D3;
$col-flavor-dark: darken( $col-flavor, $s-darken );
$col-text-link: lighten( $col-flavor, $s-lighten );

$col-alt: #88B090;
$col-alt-dark: darken( $col-alt, $s-darken );

$col-feature-highest: #CCDC90;
$col-feature-highest-dark: darken( $col-feature-highest, $s-darken );

$col-feature-middle: #88B090;
$col-feature-middle-dark: darken( $col-feature-middle, $s-darken );

$col-feature-lowest: #688060;
$col-feature-lowest-dark: darken( $col-feature-lowest, $s-darken );
