$col-text: #dcdccc;
$col-text-dark: #C4BEA9;
$col-background: #240605;
$col-background-alpha: 0.85;
$col-flavor: #A079B0;
$col-flavor-dark: #724D82;

$col-alt: #B079A5;
$col-alt-dark: #75506E;

$col-rss: #D1745A;
$col-rss-dark: #A3472e;

$col-rss: #d98b3c;
$col-rss-dark: #e1a467;
