$sz-body: 850px;
$sz-margin: 12px;
$sz-pad: 20px;
$sz-tab: 45px;
$sz-large-text: 250%;
$sz-corners: 10px;
$sz-borders: 10px;

$c-tab-options: 5;
$c-tab-extra: 2px;
$c-tab-width: ( ( $sz-body - ( $sz-margin * ( $c-tab-options - 1 ) ) ) / $c-tab-options ) + $c-tab-extra;
