$sz-body: 850px;
$sz-margin: 15px;
$sz-pad: 10px;
$sz-tab: 45px;
$sz-nav-spacer: 15px;
$sz-large-text: 250%;
$sz-corners: 20px;
$sz-borders: 20px;

$c-tab-options: 5;
$c-tab-extra: 2px;
$c-tab-width: 150px;
