@mixin clear-spacer( $vertMargin ) {
    margin: $vertMargin 0px $sz-margin 0px;
    padding: $sz-pad $sz-pad $sz-pad $sz-pad;
}

@mixin background-coloring(){
    @include rgba( $col-background, $col-background-alpha );
}

@mixin background-styling( $size : $sz-corners ) {
    @include border-right-radius( $size );
    @include border-left-radius( 0px );
    @include background-coloring();
}

@mixin nav-styling( $size : $sz-corners ) {
    @include border-right-radius( 0px );
    @include border-left-radius( $size );
    @include background-coloring();
}

@mixin shadow( $col : black ) {
    @include box-shadow( 0, 0, $sz-corners + 5px, $col );
}

@mixin shadow-right( $col : black ) {
    $sizer : $sz-corners + 5px;
    @include box-shadow-spread( $sizer * 2, 0, $sizer, -$sizer, $col );
}

@mixin main-spacer( $vertMargin ) {
    @include clear-spacer( $vertMargin );
    @include background-styling();
    @include shadow();
}

@mixin header-style() {
    @include background-coloring();
    @include shadow();
}

@mixin footer-style() {
    @include background-coloring();
    @include shadow();
    left:0;
    right:0;
}

@mixin header-spacer() {
    position: relative;
}

@mixin complex-box-shadow( $one, $two, $three ) {
    -moz-box-shadow: $one, $two, $three;
	-o-box-shadow: $one, $two, $three;
    -webkit-box-shadow: $one, $two, $three;
    box-shadow: $one, $two, $three;
}

@mixin flavor-background(){
    @include linear-gradient( $col-flavor-dark, $col-flavor );
}

@mixin alt-background(){
    @include linear-gradient( $col-alt-dark, $col-alt );
}

@mixin feature-highest-background(){
    @include linear-gradient( $col-feature-highest-dark, $col-feature-highest );
}
@mixin feature-middle-background(){
    @include linear-gradient( $col-feature-middle-dark, $col-feature-middle );
}
@mixin feature-lowest-background(){
    @include linear-gradient( $col-feature-lowest-dark, $col-feature-lowest );
}

@mixin body-font(){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", “Liberation Sans”, sans-serif; 
}

@mixin title-font(){
    font-family: 'CorpulentCapsShadowRg';
}

@mixin alt-font(){
    font-family: 'CorpulentCapsRegular';
}

@mixin mono-font(){
    font-family: Consolas, Inconsolata, "Lucida Console", "DejaVu Sans Mono", "Courier New", monospace;
}
