/******************************************************************

HElloooooooo

*******************************************************************/
/* nrp.sass */
@import "all";

/******************************************************************/
/* Colours */

$col-text: white;
$col-background: black;
$col-background-alpha: 0.85;

$col-flavor: #BF1169;
$col-flavor-dark: #7A0F45;

$col-rss: #d98b3c;
$col-rss-dark: #e1a467;

/******************************************************************/
/* Sizes */
$sz-body: 850px;
$sz-margin: 12px;
$sz-pad: 20px;

$sz-tab: 45px;

$sz-large-text: 250%;

/******************************************************************/
/* constants */
/* options */
$c-tab-options: 4;
$c-tab-extra: 0px;
$c-tab-width: ( ( $sz-body - ( $sz-margin * ( $c-tab-options - 1 ) ) ) / $c-tab-options ) + $c-tab-extra;

/******************************************************************/
/* Mixins */
@mixin clear-spacer( $vertMargin ) {
    margin: $vertMargin $sz-margin $sz-margin $sz-margin;
    padding: $sz-pad $sz-pad $sz-pad $sz-pad;
}

@mixin main-spacer( $vertMargin ) {
    @include clear-spacer( $vertMargin );
    @include rgba( $col-background, $col-background-alpha );
}

@mixin complex-box-shadow( $one, $two, $three ) {
    -moz-box-shadow: $one, $two, $three;
	-o-box-shadow: $one, $two, $three;
    -webkit-box-shadow: $one, $two, $three;
    box-shadow: $one, $two, $three;
}

@mixin flavor-background(){
    background-image: -moz-linear-gradient(bottom, $col-flavor-dark, $col-flavor);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $col-flavor-dark), color-stop(1, $col-flavor));
}

/******************************************************************/
/* Styles */
html {
 
}

body {
    width: $sz-body;
    text-align: justify;
    margin: 0 auto;
    color: $col-text;
    background: $col-background;
    background-image:url('../jpg/back2.jpg');
    background-attachment:fixed;
    background-position:center; 
    background-repeat: no-repeat;
}

p {

}

strong {
    font-weight: bold
}

em { 
    font-style: italic
}

a { 
    &:hover {
        
    }
    &:active {
        
    }
}


h1 {

}

a:link, a:visited, a:active {
    color: $col-flavor;
    text-decoration: none;
}
a:hover {
    color: $col-text;
    text-decoration: underline;
}
/******************************************************************/
/* HEADER */
hgroup{
    text-align: center;
    @include main-spacer( 0px );
    h1{
        
    }
    h2{
        font-size:$sz-large-text;
    }
    a {
    
    }
}
hgroup h1 a:hover { border: none }

/* Navigation */
nav#global {
    h6 {
        white-space: nowrap;
        vertical-align:middle;
        list-style-type: none;
        margin: 0px $sz-margin 0px $sz-margin;
        a { 
            @include rgba( $col-background, $col-background-alpha );
            display: inline-block;
            width: $c-tab-width ;
            height: $sz-tab ;
            font-size:$sz-large-text;
            text-align:center;
            &:hover {
                @include flavor-background();
            }
        }

    }
}


/* MAIN */
#content {


}

article {
    @include main-spacer( $sz-margin );
    header {
        padding: 0 0 $sz-pad 0;
        h1 { 
        
            padding: 0 0 $sz-pad 0;
        }
    }
}

.headline {
    @include flavor-background();
    .date{
        display: inline;
    }
    .title{
        display: inline;
        font-weight:bold;
    }
    .comments{
        font-weight: bold;
        float: right;
    }
}


.tags {
    &:hover {
        @include flavor-background();
    }
}

.button {
    &:before {

    }
    &:hover {
        @include flavor-background();
    }
}

/******************************************************************/
footer {
    padding: $sz-pad 0 0 0;
    p { 
        margin: 0;
    }
}


/******************************************************************/
/* SIDEBAR */
aside {
    nav, section {
        @include main-spacer( $sz-margin );
    }
}

aside h1, footer h1 {

}

aside section:last-child { margin-bottom: 0 }

/******************************************************************/

#inTouch {
    li {
        span {
        
        }
    }
}

.twitter {

}

.twitterHandle {
    &:hover {
    }
}


.rss {

}

.links {
    li {
    
    }
}
.links li:hover {
    margin-left: 5px;
}
.links li a:hover {
    border: none;
}


/******************************************************************/
/* blockquote  */
blockquote {
    &:before {

    }
    &:after {

    }
    &:hover {

    }
}


/******************************************************************/
/* FOOTER */
footer {
    section {
        @include main-spacer( $sz-margin );

	}
}
footer section:first-child { 

}

#comments {
    li {
        .newLine {
        
        }
	}
}

.copyright {
    a{
        font-weight: bold;
        font-weight: bold;
        font-weight: bold;
    }
}
