@import "all";
@import "cols";
@import "const";
@import "mixins";

/******************************************************************/
/* Fonts */
@font-face {
    font-family: 'CorpulentCapsShadowRg';
    src: url('../ttf/ccapshad.eot');
    src: url('../ttf/ccapshad.eot?#iefix') format('embedded-opentype'),
         url('../ttf/ccapshad.woff') format('woff'),
         url('../ttf/ccapshad.ttf') format('truetype'),
         url('../ttf/ccapshad.svg#CorpulentCapsShadowRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CorpulentCapsRegular';
    src: url('../ttf/ccaps.eot');
    src: url('../ttf/ccaps.eot?#iefix') format('embedded-opentype'),
         url('../ttf/ccaps.woff') format('woff'),
         url('../ttf/ccaps.ttf') format('truetype'),
         url('../ttf/ccaps.svg#CorpulentCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******************************************************************/
/* Styles */
html {
}

body {
    max-width: 1024px;
    @include body-font();
    font-weight: 300;
    color: $col-text;
    background: $col-background;
    @include image-linear-gradient( '../jpg/back3-NOPE-.jpg', $col-background, $col-flavor-dark);
    background-attachment:fixed;
    background-position:center top;
    background-repeat: repeat-y;
    border: 10px, $col-flavor;
    margin-top: -10px
}

p {
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

a {
    &:hover {
    }
    &:active {
    }
}


h1 {
    @include title-font();
}

a:link, a:visited, a:active {
    color: $col-flavor;
    text-decoration: none;
}

a:hover {
    color: $col-text;
    text-decoration: underline;
}

article, section {
    a:link, a:visited, a:active {
        color: $col-text-link;
        text-decoration: none;
    }
    a:hover {
        color: $col-text;
        text-decoration: underline;
    }
}

/******************************************************************/
/* HEADER */
hgroup{
    text-align: center;
    @include header-style();
    h1 {
        @include title-font();
        font-size:$sz-large-text;
    }
    h2 {
        @include title-font();
        font-size:$sz-large-text;
    }
    a {
    }
}

hgroup h1 a:hover {
    border: none
}

/* Navigation */
nav {
    float: left;
    clear: left;
    display: block;
    width: $c-tab-width;
    hr {
        position:relative;
        top: -$sz-nav-spacer;
    }
}

.navbar {
    white-space: nowrap;
    list-style-type: none;
    padding: 0 0 0 0;
}
.navbar li {
    margin-bottom: $sz-nav-spacer;
    @include nav-styling();
    @include shadow();
    width: $c-tab-width;
    height: $sz-tab ;
    @include title-font();
    font-size: 175%;
    text-align:center;
    position:relative;
    top: -$sz-nav-spacer;
}
.navbar a {
    width: $c-tab-width;
    padding-right: 15px;
    line-height: $sz-tab - 1px;
}

.navbar ul {
    margin-bottom: $sz-pad;
}

.navbar ul li {
    margin-bottom: $sz-pad;
    @include background-styling();
    word-wrap: break-word;
    font-size: 50%;
    @include body-font();
    @include shadow();
    top: 0px;
}
.navbar ul li:first-child {
    margin-top: -$sz-tab;
}
.navbar li a {
    display: block;
}
.navbar li ul {
    display: none;
    li {
        display: block;
    }
}
.navbar li:hover {
    @include flavor-background();
    @include shadow( $col-flavor );
    a.toplevel {
        color: $col-text;
    }
}
.navbar li:hover ul {
    display: block;
    position: absolute;
    margin-left: $c-tab-width - 30px;
    z-index: 10;
}
.navbar li:hover li {
    float: none;
}

/******************************************************************/
/* MAIN */
#container {
    margin-left: $c-tab-width + $sz-pad;
    @include header-spacer();
}

article {
    @include main-spacer( $sz-margin );
    header {
        padding: 0 0 $sz-pad 0;
        h1 {

            padding: 0 0 $sz-pad 0;
        }
    }
    section {
        padding: 0 0 $sz-pad 0;
    }
    section:last-child {
        padding: 0 0 0 0;
    }
}

.headline {
    @include title-font();
    @include background-styling();
    padding-left: $sz-corners;
    padding-right: $sz-corners;
    font-size: x-large;
    @include flavor-background();
    color: $col-text-dark;
    .date{
        display: inline;
        @include alt-font();
    }
    .title{
        display: inline;
        font-weight:bold;
    }
    .comments{
        font-weight: bold;
        float: right;
        @include title-font();
        padding-top: 2px;
    }
}

table tr th header div.headline div.title {
    display: block;
    text-align: left;
}

article.blog header div.headline, section header div.headline {
    a:link, a:visited, a:active {
        color: $col-text-dark;
        text-decoration: none;
    }
    a:hover {
        color: $col-text-dark;
        text-decoration: underline;
    }
}
section header div.headline {
    @include background-styling();
    @include body-font();
    font-size: medium;
    @include alt-background();
}

.tags {
    &:hover {
        @include flavor-background();
    }
}

.button {
    &:before {

    }
    &:hover {
        @include flavor-background();
    }
}
.bigbutton {
    font-size: xx-large;
    position: relative;
    top: -6px;
    @include title-font();
    &:before {

    }
    &:hover {
        @include flavor-background();
    }
}

/******************************************************************/



/******************************************************************/
/* SIDEBAR */
aside {
    nav, section {
        @include main-spacer( $sz-margin );
    }
}
aside section:last-child { margin-bottom: 0 }

/******************************************************************/
#inTouch {
    li {
        span {
        }
    }
}

.twitter {
}

.twitterHandle {
    &:hover {
    }
}


.rss {
}

.links {
    li {
    }
}
.links li:hover {
    margin-left: 5px;
}
.links li a:hover {
    border: none;
}


/******************************************************************/
/* blockquote  */
blockquote {
    &:before {
    }
    &:after {
    }
    &:hover {
    }
}

/******************************************************************/
/* FOOTER */
footer {
    text-align: center;
}
footer#Bio {
    section {
        @include footer-style();
    }
    clear: both;
    position: relative;
    z-index: 9;
    height: 3em;
    margin-top: -3em; 
    padding: $sz-pad 0 $sz-pad  0;
    p {
        margin: 0;
    }
}
#comments {
    li {
        .newLine {
        }
	}
}

.copyright {
    text-align:center;
    a{
        font-weight: bold;
    }
}


/******************************************************************/
/* Disqus */
#dsq-content{
    color:$col-text !important;
}

#dsq-content .dsq-moderate .dsq-comment-header{
    background: $col-flavor;
}

.dsq-comment-body{
    color:$col-text !important;
}

img.cover {

}

.buttons img {
    width: 32px;
    height: 32px;
}

$sz-game-height: 300px;
article#gameslist {
    img.cover{
        max-height: 250px;
        width: auto;
    }
    section {
    min-height: $sz-game-height;
        div.cover{
            padding-left: $sz-margin *2;
            padding-right: $sz-margin *2;
            float: left;
            clear: right;
        }
    }

    section:nth-child(odd) {
        div.cover{
            float: right;
            clear: left;
        }
    }
}

.horipad {
    padding-left: $sz-margin * 1.5;
    padding-right: $sz-margin * 1.5;
}

.iconlist {
    width: $sz-body;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    padding-right: 30px;
    li{
        display: inline-block;
    }
    list-style-type: none;
}

#pagesnav {
    font-size: large;
    text-align: center;
        @include title-font();
    .bookend {
        @include alt-font();
        font-size: x-large;
    }
}

.whitepad {
    @include border-radius( $sz-corners );
    background: white;
    padding: $sz-corners $sz-corners $sz-corners $sz-corners ;
}

img.article {
    border: 2px solid $col-flavor; 
    max-width: 700px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#IEalert {
    @include main-spacer( $sz-margin );
}

#nextandprev {
    height: 26px ;
    vertical-align: bottom;
    .next {
        display: inline;
    }
    .prev{
        float: right;
    }
    .big {
        @include title-font();
        font-weight: bold;
    }
}

// Release styles.
section.releasemajor {
    header div.headline {
        @include feature-highest-background();
    }
}
section.releaseminor {
    header div.headline {
        @include feature-middle-background();
    }
}
section.releasenone {
    header div.headline {
        @include feature-lowest-background();
    }
}
