/******************************************************************/
/* base.scss */
@import "all";

/******************************************************************/
/* Colours */
$col-text: #F2ECD5;
$col-text-dark: #C4BEA9;
$col-background: #240605;
$col-background-alpha: 0.85;

$col-flavor: #A079B0;
$col-flavor-dark: #724D82;

$col-alt: #B079A5;
$col-alt-dark: #75506E;

$col-rss: #D1745A;
$col-rss-dark: #A3472e;

$col-rss: #d98b3c;
$col-rss-dark: #e1a467;

/******************************************************************/
/* Sizes */
$sz-body: 850px;
$sz-margin: 12px;
$sz-pad: 20px;

$sz-tab: 45px;

$sz-large-text: 250%;

/******************************************************************/
/* constants */
/* options */
$c-tab-options: 5;
$c-tab-extra: 2px;
$c-tab-width: ( ( $sz-body - ( $sz-margin * ( $c-tab-options - 1 ) ) ) / $c-tab-options ) + $c-tab-extra;

/******************************************************************/
/* Mixins */
@mixin clear-spacer( $vertMargin ) {
    margin: $vertMargin $sz-margin $sz-margin $sz-margin;
    padding: $sz-pad $sz-pad $sz-pad $sz-pad;
}

@mixin main-spacer( $vertMargin ) {
    @include clear-spacer( $vertMargin );
    @include rgba( $col-background, $col-background-alpha );
}

@mixin complex-box-shadow( $one, $two, $three ) {
    -moz-box-shadow: $one, $two, $three;
	-o-box-shadow: $one, $two, $three;
    -webkit-box-shadow: $one, $two, $three;
    box-shadow: $one, $two, $three;
}

@mixin flavor-background(){
    @include linear-gradient( $col-flavor-dark, $col-flavor );
}

@mixin alt-background(){
    @include linear-gradient( $col-alt-dark, $col-alt );
}

@mixin body-font(){
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", “Liberation Sans”, sans-serif; 
}

@mixin title-font(){
    font-family: 'CorpulentCapsShadowRg';
}

@mixin alt-font(){
    font-family: 'CorpulentCapsRegular';
}

/******************************************************************/
/* Fonts */
@font-face {
    font-family: 'CorpulentCapsShadowRg';
    src: url('../ttf/ccapshad.eot');
    src: url('../ttf/ccapshad.eot?#iefix') format('embedded-opentype'),
         url('../ttf/ccapshad.woff') format('woff'),
         url('../ttf/ccapshad.ttf') format('truetype'),
         url('../ttf/ccapshad.svg#CorpulentCapsShadowRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CorpulentCapsRegular';
    src: url('../ttf/ccaps.eot');
    src: url('../ttf/ccaps.eot?#iefix') format('embedded-opentype'),
         url('../ttf/ccaps.woff') format('woff'),
         url('../ttf/ccaps.ttf') format('truetype'),
         url('../ttf/ccaps.svg#CorpulentCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******************************************************************/
/* Styles */
html {
}

body {
    width: $sz-body;
    text-align: justify;
    @include body-font();
    font-weight: 300;
    margin: 0 auto;
    color: $col-text;
    background: $col-background;
    @include image-linear-gradient( '../jpg/back3.jpg', $col-background, $col-flavor-dark);
    background-attachment:fixed;
    background-position:center top; 
    background-repeat: repeat-y;
    border: 10px, $col-flavor; 
}

p {
}

strong {
    font-weight: bold
}

em { 
    font-style: italic
}

a { 
    &:hover {
    }
    &:active {
    }
}


h1 {
    @include title-font();
}

a:link, a:visited, a:active {
    color: $col-flavor;
    text-decoration: none;
}

a:hover {
    color: $col-text;
    text-decoration: underline;
}

/******************************************************************/
/* HEADER */
hgroup{
    text-align: center;
    @include main-spacer( 0px ); 
    h1 {
        @include title-font();
        font-size:$sz-large-text;
    }
    h2 {
        @include title-font();
        font-size:$sz-large-text;
    }
    a {
    }
}

hgroup h1 a:hover {
    border: none
}

/* Navigation */
nav {
    margin-bottom: 1.5cm;
}

.navbar {
    white-space: nowrap;
    vertical-align:middle;
    list-style-type: none;
    margin: 0px $sz-margin 0px $sz-margin;
    padding: 0 0 0 0;
}
.navbar li { 
    @include rgba( $col-background, $col-background-alpha );
    display: inline-block;
    width: $c-tab-width ;
    height: $sz-tab ;
    @include title-font();
    font-size: 175%;
    text-align:center;
}
.navbar a {
    width: $c-tab-width ;
    height: $sz-tab ;
}
.navbar ul li {
    background-color: $col-background;
    margin-top: 5px;
    word-wrap: break-word;
    font-size: 50%;
    @include body-font();
}
.navbar ul li:first-child {
    margin-top: 25px;
}
.navbar li a {
    display: block; 
}
.navbar li ul {
    display: none;
    li {
        display: block;
    }
}
.navbar li:hover {
    @include flavor-background();
    a.toplevel {
        color: $col-text;
    }
}
.navbar li:hover ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
}
.navbar li:hover li {
    float: none;
}

/******************************************************************/
/* MAIN */
#content {
}

article {
    @include main-spacer( $sz-margin );
    header {
        padding: 0 0 $sz-pad 0;
        h1 { 
        
            padding: 0 0 $sz-pad 0;
        }
    }
    section { 
        padding: 0 0 $sz-pad 0;
    }
    section:last-child { 
        padding: 0 0 0 0;
    }
}

.headline {
    @include title-font();
    font-size: x-large; 
    @include flavor-background();
    .date{
        display: inline;
        @include alt-font();
    }
    .title{
        display: inline;
        font-weight:bold;
    }
    .comments{
        font-weight: bold;
        float: right;
        @include alt-font();
    }
}

section header div.headline {
    @include body-font();
    font-size: medium; 
    @include alt-background();
}

.tags {
    &:hover {
        @include flavor-background();
    }
}

.button {
    &:before {

    }
    &:hover {
        @include flavor-background();
    }
}

/******************************************************************/
footer {
    padding: $sz-pad 0 0 0;
    p { 
        margin: 0;
    }
}


/******************************************************************/
/* SIDEBAR */
aside {
    nav, section {
        @include main-spacer( $sz-margin );
    }
}

aside h1, footer h1 {

}

aside section:last-child { margin-bottom: 0 }

/******************************************************************/
#inTouch {
    li {
        span {
        }
    }
}

.twitter {
}

.twitterHandle {
    &:hover {
    }
}


.rss {
}

.links {
    li {
    }
}
.links li:hover {
    margin-left: 5px;
}
.links li a:hover {
    border: none;
}


/******************************************************************/
/* blockquote  */
blockquote {
    &:before {
    }
    &:after {
    }
    &:hover {
    }
}

/******************************************************************/
/* FOOTER */
footer {
    section {
        @include main-spacer( $sz-margin );
	}
}
footer section:first-child { 
}

#comments {
    li {
        .newLine {
        }
	}
}

.copyright {
    text-align:center;
    a{
        font-weight: bold;
    }
}


/******************************************************************/
/* Disqus */
#dsq-content{ 
    color:$col-text !important;
}

#dsq-content .dsq-moderate .dsq-comment-header{
    background: $col-flavor;
}

.dsq-comment-body{
    color:$col-text !important;
}

