/******************************************************************

HElloooooooo

*******************************************************************/
/* nrp.sass */
/******************************************************************/
/* Colours */
/******************************************************************/
/* Sizes */
/******************************************************************/
/* constants */
/* options */
/******************************************************************/
/* Mixins */
/******************************************************************/
/* Styles */
body {
  width: 850px;
  text-align: justify;
  margin: 0 auto;
  color: white;
  background: black;
  /* used to be... nasa: http://apod.nasa.gov/apod/image/1005/rhoregion_andreo_big.jpg */
  background-image: url("../jpg/back2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/******************************************************************/
/* HEADER */
hgroup {
  text-align: center;
  margin: 0px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.85); }
  hgroup h2 {
    font-size: 250%; }

hgroup h1 a:hover {
  border: none; }

/* Navigation */
nav#global h6 {
  white-space: nowrap;
  vertical-align: middle;
  list-style-type: none;
  margin: 0px 12px 0px 12px; }
  nav#global h6 a {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    width: 203.5px;
    height: 45px;
    font-size: 250%;
    text-align: center; }
    nav#global h6 a:hover {
      background-image: -moz-linear-gradient(bottom, #ca0000, #970000);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca0000), color-stop(1, #970000)); }

/* MAIN */
article {
  margin: 12px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.85); }
  article header {
    padding: 0 0 20px 0; }

.headline {
  background-color: #222; }
  .headline .date {
    display: inline; }
  .headline .title {
    display: inline;
    font-weight: bold; }
  .headline .comments {
    float: right; }

.button:hover {
  background-image: -moz-linear-gradient(bottom, #ca0000, #970000);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca0000), color-stop(1, #970000)); }

/******************************************************************/
footer {
  padding: 20px 0 0 0; }
  footer p {
    margin: 0; }

/******************************************************************/
/* SIDEBAR */
aside nav, aside section {
  margin: 12px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.85); }

aside section:last-child {
  margin-bottom: 0; }

/******************************************************************/
.links li:hover {
  margin-left: 5px; }

.links li a:hover {
  border: none; }

/******************************************************************/
/* blockquote  */
/******************************************************************/
/* FOOTER */
footer section {
  margin: 12px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.85); }
