/******************************************************************/
/* Fonts */
@font-face {
  font-family: 'CorpulentCapsShadowRg';
  src: url("../ttf/ccapshad.eot");
  src: url("../ttf/ccapshad.eot?#iefix") format("embedded-opentype"), url("../ttf/ccapshad.woff") format("woff"), url("../ttf/ccapshad.ttf") format("truetype"), url("../ttf/ccapshad.svg#CorpulentCapsShadowRg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CorpulentCapsRegular';
  src: url("../ttf/ccaps.eot");
  src: url("../ttf/ccaps.eot?#iefix") format("embedded-opentype"), url("../ttf/ccaps.woff") format("woff"), url("../ttf/ccaps.ttf") format("truetype"), url("../ttf/ccaps.svg#CorpulentCapsRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/******************************************************************/
/* Styles */
body {
  width: 850px;
  text-align: justify;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", “Liberation Sans”, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  color: #dcdccc;
  background: #240605;
  background-color: #724d82;
  background-image: url("../jpg/back3.jpg");
  /* fallback */
  background-image: url("../jpg/back3.jpg"), -webkit-gradient(linear, left top, left bottom, from(#240605), to(#724d82));
  /* Saf4+, Chrome */
  background-image: url("../jpg/back3.jpg"), -webkit-linear-gradient(top, #240605, #724d82);
  /* Chrome 10+, Saf5.1+ */
  background-image: url("../jpg/back3.jpg"), -moz-linear-gradient(top, #240605, #724d82);
  /* FF3.6+ */
  background-image: url("../jpg/back3.jpg"), -ms-linear-gradient(top, #240605, #724d82);
  /* IE10 */
  background-image: url("../jpg/back3.jpg"), -o-linear-gradient(top, #240605, #724d82);
  /* Opera 11.10+ */
  background-image: url("../jpg/back3.jpg"), linear-gradient(top, #240605, #724d82);
  /* W3C */
  background-attachment: fixed;
  background-position: center top;
  background-repeat: repeat-y;
  border: 10px, #a079b0;
  position: relative;
  top: -10px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

h1 {
  font-family: 'CorpulentCapsShadowRg'; }

a:link, a:visited, a:active {
  color: #a079b0;
  text-decoration: none; }

a:hover {
  color: #dcdccc;
  text-decoration: underline; }

/******************************************************************/
/* HEADER */
hgroup {
  text-align: center;
  margin: 0px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85);
  -moz-box-shadow: 0 0 15px black;
  -o-box-shadow: 0 0 15px black;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black; }
  hgroup h1 {
    font-family: 'CorpulentCapsShadowRg';
    font-size: 250%; }
  hgroup h2 {
    font-family: 'CorpulentCapsShadowRg';
    font-size: 250%; }

hgroup h1 a:hover {
  border: none; }

/* Navigation */
nav {
  margin-bottom: 1.5cm; }

.navbar {
  white-space: nowrap;
  list-style-type: none;
  margin: 0px 12px 0px 12px;
  padding: 0 0 0 0; }

.navbar li {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85);
  -moz-box-shadow: 0 0 15px black;
  -o-box-shadow: 0 0 15px black;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85);
  display: inline-block;
  width: 162.4px;
  height: 45px;
  font-family: 'CorpulentCapsShadowRg';
  font-size: 175%;
  text-align: center; }

.navbar a {
  width: 162.4px;
  height: 45px;
  line-height: 44px; }

.navbar ul li {
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85);
  margin-top: 5px;
  word-wrap: break-word;
  font-size: 50%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", “Liberation Sans”, sans-serif;
  -moz-box-shadow: 0 0 15px #a079b0;
  -o-box-shadow: 0 0 15px #a079b0;
  -webkit-box-shadow: 0 0 15px #a079b0;
  box-shadow: 0 0 15px #a079b0; }

.navbar ul li:first-child {
  margin-top: 10px; }

.navbar li a {
  display: block; }

.navbar li ul {
  display: none; }
  .navbar li ul li {
    display: block; }

.navbar li:hover {
  background-color: #a079b0;
  background-image: -moz-linear-gradient(#724d82, #a079b0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #724d82), color-stop(1, #a079b0));
  background-image: -webkit-linear-gradient(#724d82, #a079b0);
  background-image: -o-linear-gradient(#724d82, #a079b0);
  -moz-box-shadow: 0 0 15px #a079b0;
  -o-box-shadow: 0 0 15px #a079b0;
  -webkit-box-shadow: 0 0 15px #a079b0;
  box-shadow: 0 0 15px #a079b0; }
  .navbar li:hover a.toplevel {
    color: #dcdccc; }

.navbar li:hover ul {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0; }

.navbar li:hover li {
  float: none; }

/******************************************************************/
/* MAIN */
article {
  margin: 12px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85);
  -moz-box-shadow: 0 0 15px black;
  -o-box-shadow: 0 0 15px black;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black; }
  article header {
    padding: 0 0 20px 0; }
    article header h1 {
      padding: 0 0 20px 0; }
  article section {
    padding: 0 0 20px 0; }
  article section:last-child {
    padding: 0 0 0 0; }

.headline {
  font-family: 'CorpulentCapsShadowRg';
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85);
  padding-left: 10px;
  padding-right: 10px;
  font-size: x-large;
  background-color: #a079b0;
  background-image: -moz-linear-gradient(#724d82, #a079b0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #724d82), color-stop(1, #a079b0));
  background-image: -webkit-linear-gradient(#724d82, #a079b0);
  background-image: -o-linear-gradient(#724d82, #a079b0); }
  .headline .date {
    display: inline;
    font-family: 'CorpulentCapsRegular'; }
  .headline .title {
    display: inline;
    font-weight: bold; }
  .headline .comments {
    font-weight: bold;
    float: right;
    font-family: 'CorpulentCapsShadowRg';
    padding-top: 2px; }

section header div.headline, acrticle.blog header div.headline {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", “Liberation Sans”, sans-serif;
  font-size: medium;
  background-color: #b079a5;
  background-image: -moz-linear-gradient(#75506e, #b079a5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #75506e), color-stop(1, #b079a5));
  background-image: -webkit-linear-gradient(#75506e, #b079a5);
  background-image: -o-linear-gradient(#75506e, #b079a5); }
  section header div.headline a:link, section header div.headline a:visited, section header div.headline a:active, acrticle.blog header div.headline a:link, acrticle.blog header div.headline a:visited, acrticle.blog header div.headline a:active {
    color: #dcdccc;
    text-decoration: none; }
  section header div.headline a:hover, acrticle.blog header div.headline a:hover {
    color: #dcdccc;
    text-decoration: underline; }

.tags:hover {
  background-color: #a079b0;
  background-image: -moz-linear-gradient(#724d82, #a079b0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #724d82), color-stop(1, #a079b0));
  background-image: -webkit-linear-gradient(#724d82, #a079b0);
  background-image: -o-linear-gradient(#724d82, #a079b0); }

.button:hover {
  background-color: #a079b0;
  background-image: -moz-linear-gradient(#724d82, #a079b0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #724d82), color-stop(1, #a079b0));
  background-image: -webkit-linear-gradient(#724d82, #a079b0);
  background-image: -o-linear-gradient(#724d82, #a079b0); }

/******************************************************************/
footer {
  padding: 20px 0 0 0; }
  footer p {
    margin: 0; }

/******************************************************************/
/* SIDEBAR */
aside nav, aside section {
  margin: 12px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85);
  -moz-box-shadow: 0 0 15px black;
  -o-box-shadow: 0 0 15px black;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black; }

aside section:last-child {
  margin-bottom: 0; }

/******************************************************************/
.links li:hover {
  margin-left: 5px; }

.links li a:hover {
  border: none; }

/******************************************************************/
/* blockquote  */
/******************************************************************/
/* FOOTER */
footer section {
  margin: 12px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85);
  -moz-box-shadow: 0 0 15px black;
  -o-box-shadow: 0 0 15px black;
  -webkit-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black; }

.copyright {
  text-align: center; }
  .copyright a {
    font-weight: bold; }

/******************************************************************/
/* Disqus */
#dsq-content {
  color: #dcdccc !important; }

#dsq-content .dsq-moderate .dsq-comment-header {
  background: #a079b0; }

.dsq-comment-body {
  color: #dcdccc !important; }

.buttons img {
  width: 32;
  height: 32px; }

article#gameslist img.cover {
  max-height: 250px;
  width: auto; }
article#gameslist section {
  min-height: 300px; }
  article#gameslist section div.cover {
    padding-left: 24px;
    padding-right: 24px;
    float: left;
    clear: right; }
article#gameslist section:nth-child(odd) div.cover {
  float: right;
  clear: left; }

.horipad {
  padding-left: 18px;
  padding-right: 18px; }

.iconlist {
  width: 850px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.icons {
  padding-left: 266px;
  list-style-type: none; }
  .icons li {
    display: inline-block; }

#pagesnav {
  font-size: large;
  text-align: center;
  font-family: 'CorpulentCapsShadowRg'; }
  #pagesnav .bookend {
    font-family: 'CorpulentCapsRegular';
    font-size: x-large; }
