/******************************************************************/
/* base.scss */
/******************************************************************/
/* Colours */
/******************************************************************/
/* Sizes */
/******************************************************************/
/* constants */
/* options */
/******************************************************************/
/* Mixins */
/******************************************************************/
/* Styles */
body {
  width: 850px;
  text-align: justify;
  margin: 0 auto;
  color: #f2ecd5;
  background: #240605;
  background-image: url("../jpg/back3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a:link, a:visited, a:active {
  color: #a079b0;
  text-decoration: none; }

a:hover {
  color: #f2ecd5;
  text-decoration: underline; }

/******************************************************************/
/* HEADER */
hgroup {
  text-align: center;
  margin: 0px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85); }
  hgroup h2 {
    font-size: 250%; }

hgroup h1 a:hover {
  border: none; }

/* Navigation */
nav#global h6 {
  white-space: nowrap;
  vertical-align: middle;
  list-style-type: none;
  margin: 0px 12px 0px 12px; }
  nav#global h6 a {
    background-color: #240605;
    background-color: rgba(36, 6, 5, 0.85);
    display: inline-block;
    width: 203.5px;
    height: 45px;
    font-size: 250%;
    text-align: center; }
    nav#global h6 a:hover {
      background-color: #a079b0;
      background-image: -moz-linear-gradient(#724d82, #a079b0);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #724d82), color-stop(1, #a079b0));
      background-image: -webkit-linear-gradient(#724d82, #a079b0);
      background-image: -o-linear-gradient(#724d82, #a079b0); }

/******************************************************************/
/* MAIN */
article {
  margin: 12px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85); }
  article header {
    padding: 0 0 20px 0; }
    article header h1 {
      padding: 0 0 20px 0; }

.headline {
  background-color: #a079b0;
  background-image: -moz-linear-gradient(#724d82, #a079b0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #724d82), color-stop(1, #a079b0));
  background-image: -webkit-linear-gradient(#724d82, #a079b0);
  background-image: -o-linear-gradient(#724d82, #a079b0); }
  .headline .date {
    display: inline; }
  .headline .title {
    display: inline;
    font-weight: bold; }
  .headline .comments {
    font-weight: bold;
    float: right; }

.tags:hover {
  background-color: #a079b0;
  background-image: -moz-linear-gradient(#724d82, #a079b0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #724d82), color-stop(1, #a079b0));
  background-image: -webkit-linear-gradient(#724d82, #a079b0);
  background-image: -o-linear-gradient(#724d82, #a079b0); }

.button:hover {
  background-color: #a079b0;
  background-image: -moz-linear-gradient(#724d82, #a079b0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #724d82), color-stop(1, #a079b0));
  background-image: -webkit-linear-gradient(#724d82, #a079b0);
  background-image: -o-linear-gradient(#724d82, #a079b0); }

/******************************************************************/
footer {
  padding: 20px 0 0 0; }
  footer p {
    margin: 0; }

/******************************************************************/
/* SIDEBAR */
aside nav, aside section {
  margin: 12px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85); }

aside section:last-child {
  margin-bottom: 0; }

/******************************************************************/
.links li:hover {
  margin-left: 5px; }

.links li a:hover {
  border: none; }

/******************************************************************/
/* blockquote  */
/******************************************************************/
/* FOOTER */
footer section {
  margin: 12px 12px 12px 12px;
  padding: 20px 20px 20px 20px;
  background-color: #240605;
  background-color: rgba(36, 6, 5, 0.85); }

.copyright a {
  font-weight: bold;
  font-weight: bold;
  font-weight: bold; }

/******************************************************************/
/* Disqus */
#dsq-content {
  color: #f2ecd5 !important; }

#dsq-content .dsq-moderate .dsq-comment-header {
  background: #a079b0; }

.dsq-comment-body {
  color: #f2ecd5 !important; }
