{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block base_load %}
    "codehilitecss" : "{{ url_for(".static", filename="css/codehilite.css") }}", 
    {% block article_load %}
    {% endblock article_load %}
{% endblock base_load %}

{% block base_callback %}
    {% block article_callback %}
    {% endblock article_callback %}
{% endblock base_callback %}

{% block base_complete %}
    {% if article.comments %}
        var disqus_shortname = '{{ disqus }}';
        var disqus_url = "{{ web_root }}{{ page_id }}";
        var disqus_identifier = "{{ page_id }}";
        var disqus_title = "{{ page_title }}";
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    {% endif %}
    {% block article_complete %}
    {% endblock article_complete %}
{% endblock base_complete %}

{% block boilerplate_hero_unit %}
    <h2>
        {{ article.title|title }}
    </h2>
    {% if article.short %}
        <p>
            {{ article.short }}
        </p>                        
    {% endif %}
    {{ macros.button_primary( "Bookmarks", "#bookmarks_heading" ) }}
    {{ macros.button_primary( "Navigation", "#navigation_heading" ) }}
    {% if article.comments %}
        {{ macros.button_primary( "Comments", "#disqus_heading" ) }}
    {% endif %}
{% endblock boilerplate_hero_unit %}

{% block boilerplate_post_hero_unit %}
    {% block article_pre_row %}
    {% endblock article_pre_row %}

    {% if article.date %}
        {{
        macros.panel( 
            article.title|title + " - " + makedate( article.date ), 
            article.html|safe + '<div class="shareaholic-canvas" data-shareaholic-widgets="share_buttons"></div>'|safe)
        }}
    {% else %}
        {{
        macros.panel( 
            article.title|title, 
            article.html|safe )
        }}
    {% endif %}
{% endblock boilerplate_post_hero_unit %}

{% block boilerplate_row %}
    
    {% if page_selected is equalto( False ) %}
        {% set link = url_for( ".index" ) %}
        {% call macros.row_span( "Home", "Home", link ) %}
            One click away from the home page. Have away with yourself.
        {% endcall %}
    {% else %}
        {% if previous_article %}
            {% call macros.row_span( previous_article.title, "Read previous", url_for( "page", page_path=previous_article.path ) ) %}
                {{ previous_article.short|safe }}
            {% endcall %}
        {% else %}
            {{ macros.row_span_empty() }}
        {% endif %}
        {% set link = url_for( "page", page_path = menu_selected ) %}
        {% call macros.row_span( "Index Page", menu_selected|title, link ) %}
            Go back to the index page for {{ menu_selected }} to see all of the pages like this.
            Or, skip to the next or previous pages.
        {% endcall %}
        {% if next_article %}
            {% call macros.row_span( next_article.title, "Read next", url_for( "page", page_path=next_article.path ) ) %}
                {{ next_article.short|safe }}
            {% endcall %}
        {% else %}
            {{ macros.row_span_empty() }}
        {% endif %}
    {% endif %}
    {% block article_post_row %}
    {% endblock article_post_row %}
{% endblock boilerplate_row %}

{% block boilerplate_body_extra %}
    {% if article.comments %}
        {{ 
        macros.panel( 
            '<div id="disqus_heading"> Comments </div>'|safe, 
            '<div id="disqus_thread"></div>'|safe)
        }}
    {% endif %}
{% endblock boilerplate_body_extra %}

{% block boilerplate_scripts_extra %}
<script type="text/javascript">
//<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.src = '//dtym7iokkjlif.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var apikey = '31bc8c4e73516916c418aa093caa7703'
      try { Shareaholic.init(apikey); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
//]]>
</script>
{% endblock boilerplate_scripts_extra %}
