{% extends "base.html" %}
{% import "macro_heading.html" as headings %}

{% block content %}
    {% for page in pages %}
        <article>
            {% call headings.article() %}
                {{ page.title }}
            {% endcall %}
            <p>
                {{ page.html|safe }}
            </p>
        </article>

        {% if page.comments %}
            <article>
            {% call headings.article() %}
                Comments for {{ page.title|title }}
            {% endcall %}
            {% include "disqus_comment_thread.html" %}
            </article>
        {% endif %}
    {% endfor %}
{% endblock %}
