{% extends "base.html" %}
{% import "macro_heading.html" as headings %}
{% import "macro_media.html" as media %}

{# Calculate if there are comments #}
{% set comment_page = pages|first %}
{% if comment_override_id %}
    {% set page_id = comment_override_id %} 
    {% set page_title = comment_override_title %}
    {% set comments_are_on = True %}
{% else %}
    {% if comment_page.comments %}
        {% set page_id = url_for( "page", page_path=comment_page.path ) %}
        {% set page_title = comment_page.title %}
        {% set comments_are_on = True %}
    {% endif %}
{% endif %}

{% block yepnope_load %}
    "spritecss" : "{{ url_for(".static", filename="css/sprite.css") }}",
    "shareholicjs" : "{{ url_for(".static", filename="js/shareholic.js") }}",
    {% block article_load %}
    {% endblock article_load %}
{% endblock yepnope_load %}

{% block yepnope_callback %}
    'shareholicjs' : function(url, result, key){        
        {% include "bookmarks.js" %}
    }, 
    {% block article_callback %}
    {% endblock article_callback %}
{% endblock yepnope_callback %}

{% block yepnope_complete%}
    {% block article_complete%}
    {% endblock article_complete%}
    {% if comments_are_on %}
        {{ media.disqus_thread( page_id, page_title ) }}
    {% endif %}
{% endblock yepnope_complete%}

{% block page_title %}
    {{ comment_page.title }}
{% endblock %}

{% block content %}
    {% include "pages_index.html" %}

    {% block article_pre_pages %}
    {% endblock article_pre_pages %}

    {% block article_pages %}
        {% for article in pages %}
            {% include "base_article.html" %}
        {% endfor %}
    {% endblock article_pages %}

    {% block article_post_pages %}
    {% endblock article_post_pages %}

    {% block article_share %}
        {% if comments_are_on %}
            <article id="bookmarks">
                {% call headings.article() %}
                    Share '{{ page_title|title }}'
                {% endcall %}
                {% include "bookmarks_html.html" %}
            </article>
        {% endif %}
    {% endblock article_share %}

    {% block article_comments %}
        {% if comments_are_on %}
            <article id="comments">
                {% call headings.article() %}
                    Comments for '{{ page_title|title }}'
                {% endcall %}
                {% include "disqus_comment_thread.html" %}
            </article>
        {% endif %}
    {% endblock article_comments %}
{% endblock %}
