<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset='utf-8' />
    <title>
        nathanrosspowell.com 
        {% block page_title %}
        {% endblock %}
    </title>
    <meta content='{% block meta_description %}Webpage{% endblock %}' name='description' />
    <meta content='{% block meta_author %}Nathan Ross Powell{% endblock %}' name='author' />
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0;' name='viewport' />
    <link rel="stylesheet" href="{{ url_for(".static", filename="css/base.css") }}" type="text/css" media="screen, projection"/>
</head>
{% block body_tag %}
<body>
{% endblock %}
<header>
    <hgroup>
        <h1>
            <a href="{{ url_for( "index" ) }}">
                nathanrosspowell.com
            </a>
        </h1>
        <h4>
            {% block page_quote %}
                 "In one of the many places you're not, I am."
            {% endblock page_quote %}
        </h4>
        <h6 class="ref">
            {% block page_quote_source %}
            -
            <a href="http://en.wikipedia.org/wiki/Why%3F_(American_band)" title="Wikipedia: WHY?">Yoni Wolf</a>,
            <a href="http://www.youtube.com/watch?v=qQi7Dm2hfxE&hd=1" title="Youtube: By Torpedo Or Crohn's">WHY?</a>
            {% endblock page_quote_source %}
        </h6>
    </hgroup>
    <nav>
        <ul class='navbar'>
            <li>
                <a href="{{ url_for( "blog_page_0" ) }}">
                    Blog
                </a>
            </li>
            <li>
                <a href="{{ url_for( "code" ) }}">
                    Code
                </a>
            </li>
            <li>
                <a href="{{ url_for( "games" ) }}">
                    Games
                </a>
            </li>
            <li>
                <a href="{{ url_for( "career" ) }}">
                    Career
                </a>
            </li>
            <li>
                <a href="{{ url_for( "connect" ) }}">
                    Connect
                </a>
            </li>
        </ul>
    </nav>
</header>
    {% block body %}
        <div id='container'>
            <header></header>
            <div id='main' role='main'>
                {% block content %}
<!-- content here --> MAIN CONTENT BLOCK HERE!!!!!!
                {% endblock %}
            </div>
            <footer></footer>
        </div>
        <aside>
        </aside>
        {% if debug %}
            {% include 'includes/debug.html' %}
        {% endif %}
        {% block loading %}
        {% endblock %}
        {% block js_inline %}
<!-- js here -->
<!-- :javascript -->
        {% endblock %}
<!--[if lt IE 7 ]>
    <script src="{{ STATIC_URL }}js/dd_belatedpng.js"></script>
<script type='text/javascript'>
// <![CDATA[
            <script> DD_belatedPNG.fix('img, .png_bg');</script>
// ]]>
</script>
<![endif]-->
    {% endblock %}
<footer>
  <section>
   <h1>
                Nathan Ross Powell Bio
   </h1>
    {{ bio.html|safe }}
    <div style="icon">
        {% include "social.html" %}
    </div>
  </section>
  <section class='copyright'>
    {{ credits.html|safe }}
  </section>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33462621-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
