{% extends "html5boiler.html" %}

{% block html5_title %}
    NRP -
    {% block page_title %}
        Personal Website
    {% endblock %}
{% endblock html5_title %}

{% block html5_meta %}
    <meta content='{% block meta_description %}Webpage{% endblock %}' name='description' />
    <meta content='{% block meta_author %}Nathan Ross Powell{% endblock %}' name='author' />
{% endblock html5_meta %}

{% block html5_head %}
    {% block css_link %}
    {% endblock css_link %}
    {% block js_link %}
    {% endblock js_link %}
    <script>
//<![CDATA[
<!--
Modernizr.load({
    load : {
        {% block no_jquery_load %}
            'jqueryjs' : '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js',
        {% endblock no_jquery_load %}
        {% block yepnope_load %}
        {% endblock yepnope_load %}
    },
    callback : {
        {% block yepnope_callback %}
        {% endblock yepnope_callback %}
    },
    complete : function() {
        {% block no_jquery_load2 %}
            if ( !window.jQuery ) {
                Modernizr.load('js/libs/jquery-1.7.1.min.js');
            }
        {% endblock no_jquery_load2 %}
        {% block yepnope_complete%}
        {% endblock yepnope_complete%}
        {% include "google_analytics.js" %}
    }
});
//-->
//]]>
    </script>
{% endblock html5_head %}

{% block html5_body %}
<header>
    <hgroup>
        <h1>
            <a href="{{ url_for( "index" ) }}">
                nathanrosspowell.com
            </a>
        </h1>
        <h4>
            {% block page_quote %}
                 "In one of the many places you're not, I am."
            {% endblock page_quote %}
        </h4>
    </hgroup>
    <!--[if IE]>
		<div id="IEalert">
            You're using Internet Explorer. I don't test for that. If something's broken, feel free to get
            <a href="http://www.google.com/chrome">Google Chrome</a>.
		</div>
    <![endif]-->
    <nav>
        {% block body_nav %}
            {% include "nav_bar.html" %}
        {% endblock body_nav %}
    </nav>
</header>
{% block body %}
    <div id='container'>
        <header></header>
        <div id='main' role='main'>
            {% block content %}
<!-- content here --> MAIN CONTENT BLOCK HERE!!!!!!
            {% endblock content %}
        </div>
        <footer></footer>
    </div>
    <aside>
    </aside>
    {% if debug %}
        {% include 'includes/debug.html' %}
    {% endif %}
    {% block loading %}
    {% endblock loading %}
    {% block js_inline %}
<!-- js here -->
<!-- :javascript -->
    {% endblock js_inline %}
<!--[if lt IE 7 ]>
<script src="{{ url_for( "index", filename="js/dd_belatedpng.js" ) }}"></script>
<script type='text/javascript'>
// <![CDATA[
        <script> DD_belatedPNG.fix('img, .png_bg');</script>
// ]]>
</script>
<![endif]-->
{% endblock body %}

<footer>
    <section id="bioshort">
        <h1>
            Nathan Ross Powell Bio
        </h1>
        {{ bio.html|safe }}
        <div class="iconlist">
            {% include "social.html" %}
        </div>
    </section>
    <section id="copyright" class='copyright'>
        {% if date %}
        <p id="udpdated">
            This website was last statically updated: {{ date }} at {{ time }}.
        </p>
        <hr/>
        {% endif %}
        <p>
            {{ credits.html|safe }}
        </p>
    </section>
</footer>
{% endblock html5_body %}
