{% extends "blog.html" %}

{% import "macro_media.html" as media %}

{% set comment_page = pages|first %}
{% block page_title %}
    {{ comment_page.title }}
{% endblock %}

{% set page_title = comment_page.title %}
{% set page_id = url_for( "page", page_path=comment_page.path ) %}

{% block blog_load %}
    "spritecss" : "{{ url_for(".static", filename="css/sprite.css") }}",
    "shareholicjs" : "{{ url_for(".static", filename="js/shareholic.js") }}",
    {% block blog_post_load %}
    {% endblock blog_post_load %}
{% endblock blog_load %}

{% block blog_callback %}
    'shareholicjs' : function(url, result, key){        
        {% include "bookmarks.js" %}
    }, 
    {% block blog_post_callback %}
    {% endblock blog_post_callback %}
{% endblock blog_callback %}

{% block blog_complete%}
    {% block blog_post_complete%}
    {% endblock blog_post_complete%}
    {{ media.disqus_thread( page_id, page_title ) }}
{% endblock blog_complete%}

{% block blog_content %}
    <article id="nextandprev">
        <div class="prev">
            {% if prevBlog %}
                <a href="{{ url_for( "page", page_path=prevBlog.path ) }}" title="Previous Blog">
                    {{ prevBlog.title|title }}
                    <span class="big">></span>
                </a>
            {% else %}
                No older blogs
                <span class="big">></span>
            {% endif %}
        </div>
        <div class="next">
            {% if nextBlog %}
                <a href="{{ url_for( "page", page_path=nextBlog.path ) }}" title="Next Blog">
                    <span class="big"><</span>
                    {{ nextBlog.title|title }}
                </a>
            {% else %}
                <span class="big"><</span>
                No newer blogs
            {% endif %}
        </div>
    </article>

    {% set page = pages|first %}
    <article id="{{ page.named }}">
        <header>
            <div class='headline'>
                <div class='date'>
                    {{ page.published }}
                </div>
                <div class='title'>
                    {{ page.title|title }}
                </div>
            </div>
        </header>
        {{ page.html|safe }}
        <footer>
            <hr/>
            <em>
                Written by:
            </em>
            <strong>
                {% if page.author %}
                    {{ page.author|title }}
                {% else %}
                    <a href="{{ url_for( "connect" )}}"
                       title="Contact Nathan Ross Powell" 
                    >
                        Nathan Ross Powell
                    </a>
                {% endif %}
            </strong>
            <br/> 
            <span class='newline'>
                <em>
                    Tags:
                </em>
                {% for tag in page.tags %}
                    <a class='tags'
                        href="{{ url_for( "blog_tag", item=tag ) }}"
                        title="{{ "Blog filter for: " + tag }}"
                    >
                    {{ tag }}</a>{% if loop.last %}{% else %},{% endif %}
                {% else %}
                    n/a
                {% endfor %}
            </span>
            |
            <span class="markdown">
                <a href="{{ page.source }}" title="Go to GitHub source">View markdown on GitHub</a>
            </span>
        </footer>
    </article>
    <article id="bookmarks">
            {% set page_title = page.title %}
            {% set page_id = url_for( "page", page_path=page.path ) %}
        {% call headings.article() %}
            Share '{{ page_title|title }}'
        {% endcall %}
        {% include "bookmarks_html.html" %}
    </article>

    <article id="comments">
        {% call headings.article() %}
            Comments for '{{ page_title|title }}'
        {% endcall %}
        {% include "disqus_comment_thread.html" %}
    </article>
{% endblock %}
