{% extends "base.html" %}
{% block content %}

    {% include "pages_index.html" %}

    {% for page in pages %}
    <article id="{{ page.named }}">
            <header>
                <div class='headline'>
                    <div class='comments'>
                       0 
                    </div>
                    <div class='date'>
                        {{ page.published }}
                    </div>
                    <div class='title'>
                        {{ page.title|title }}
                    </div>
                </div>
            </header>
            {{ page.html|safe }}
            <footer>
                <em>
                    Written by:
                </em>
                <strong>
                    {% if page.author %}
                        {{ page.author|title }}
                    {% else %}
                        Nathan Ross Powell
                    {% endif %}
                </strong>
                |
                <span class='newline'>
                    <em>
                        Tags:
                    </em>
                    {% for tag in page.tags %}
                        <a class='tags'>{{ tag }}</a>
                    {% else %}
                        <a class='tags'>-no-tags-</a>
                    {% endfor %}
                </span>
                |
                <span class="markdown">
                    <a href="{{ page.source }}">View markdown on GitHub</a>
                </span>
                {% set page_title = page.title %}
                {% set page_id = url_for( "page", page_path=page.path ) %}
                {% include "disqus_comment_thread.html" %}
            </footer>
        </article>
    {% endfor %}
{% endblock %}
