{% extends "base.html" %}
{% block content %}
    {% for page in pages %}
        <article>
            <header>
                <div class='headline'>
                    <div class='comments'>
                       0 
                    </div>
                    <div class='date'>
                        {{ page.published }}
                    </div>
                    <div class='title'>
                        {{ page.title|title }}
                    </div>
                </div>
            </header>
            <p>
                {{ page.html|safe }}
            </p>
            <footer>
                <em>
                    Written by:
                </em>
                <strong>
                    {% if page.author %}
                        {{ page.author|title }}
                    {% else %}
                        Nathan Ross Powell
                    {% endif %}
                </strong>
                <span class='newline'>
                    <em>
                        Tags:
                    </em>
                    {% for tag in page.tags %}
                        <a class='tags'>{{ tag }}</a>
                    {% else %}
                        <a class='tags'>-no-tags-</a>
                    {% endfor %}
                </span>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'nathanrosspowell'; // required: replace example with your forum shortname
    var disqus_title = "{{ page.title }}"
{#
    var disqus_developer = 1;
#}

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


            </footer>
        </article>
    {% endfor %}
{% endblock %}
