{% extends "blog.html" %}
{% import "macro_heading.html" as headings %}
{% block blog_content %}

    {% for page in pages %}
        <article class="blog" id="{{ page.named }}">
            <header>
                <div class='headline'>
                    <div class='date'>
                        {{ page.published }} - 
                    </div>
                    <div class='title'>
                        <a href="{{ url_for( "page", page_path=page.path ) }}">{{ page.title }}</a>
                    </div>
                </div>
            </header>
                {{ page.html|safe }}
                {% if page.url %}
                    <p>
                        {% include "disqus_comment_count.html" %}
                    </p>
                {% endif %}
        </article>
    {% endfor %}


    {% macro linky( text, number, url, active ) -%}
        {% if active is sameas true %}
            <span
                {% if text is equalto( "<" ) %}
                    class="bookend"
                {% elif text is equalto( ">" ) %}
                    class="bookend"
                {% endif %}
            >
                {{ text }}
            </span>
        {% else %}
            <a 
                {% if url is equalto( "blog_page_0" ) %}
                    href="{{ url_for( url ) }}" 
                {% else %}
                    href="{{ url_for( url, page = number ) }}" 
                {% endif %}
                title="{{ "Blog page %d"|format( number ) }}"
                {% if text is equalto( "<" ) %}
                    class="bookend"
                {% elif text is equalto( ">" ) %}
                    class="bookend"
                {% endif %}
                
            >
                {{ text }}
            </a>
        {% endif %}
    {%- endmacro %}

    {% if navpages is compare( ">", 1 ) %}
    <article id="pagesnav">
        {{ linky( "<", currentpage - 1, "blog_page_0", currentpage is compare( "==", 1 )) }} 
        {% for nav in range( 1, navpages + 1 ) %}
            {% if currentpage is equalto nav %}
                {{ nav }}
            {% else %}
                {% if nav is equalto 1 %}
                    <a href="{{ url_for( "blog_page_0" ) }}" 
                        title="{{ "Blog page %d"|format( nav ) }}"
                    >
                        {{ nav }}
                    </a>
                {% else %}
                    <a href="{{ url_for( "blog_page", page = nav ) }}" 
                        title="{{ "Blog page %d"|format( nav ) }}"
                    >
                        {{ nav }}
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {{ linky( ">", currentpage + 1, "blog_page", currentpage is compare( "==", navpages  )) }} 
    </article>
    {% endif %}


    <article id="blogroll">
        {% call headings.article() %}
            {{ blogroll.title }}
        {% endcall %}
        {{ blogroll.html|safe }}
    </article>

    {% include "disqus_comment_count_script.html" %}

{% endblock blog_content %}

