{% extends "base.html" %}
{% import "macro_heading.html" as headings %}
{% block css_link %}
{% endblock css_link %}

{% block yepnope_load %}
    "codehilitecss" : "{{ url_for(".static", filename="css/codehilite.css") }}", 
    {% block blog_load %}
    {% endblock blog_load %}
{% endblock yepnope_load %}

{% block page_title %}
    Blog
{% endblock %}

{% block body_nav_extras %}
    <hr/>
    <ul class='navbar' id='blog-nav'>
        <li>
            <a class="toplevel" href="{{ url_for( "blog_tags" ) }}">Top Tags</a>
            <ul>
                {% set item_type = "blog_tag" %}
                {% set items = top_tags_n %}
                {% set freq = tag_freq %}
                {% include "blog_tag_list.html" %}
                <li>
                <a href="{{ url_for( "blog_tags" ) }}" title="See more tags">More...</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="toplevel" href="{{ url_for( "blog_tags" ) }}">All Tags</a>
            <ul>
                {% set item_type = "blog_tag" %}
                {% set items = all_tags_n %}
                {% set freq = tag_freq %}
                {% include "blog_tag_list.html" %}
                <li>
                <a href="{{ url_for( "blog_tags" ) }}" title="See more tags">More...</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="toplevel" href="{{ url_for( "blog_archives" ) }}">Years</a>
            <ul>
                {% set item_type = "blog_archive" %}
                {% set items = arc_years_n %}
                {% set freq = arc_freq %}
                {% include "blog_archive_list.html" %}
                <li>
                <a href="{{ url_for( "blog_archives" ) }}" title="See more tags">More...</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="toplevel" href="{{ url_for( "blog_archives" ) }}">Months</a>
            <ul>
                {% set item_type = "blog_archive" %}
                {% set items = arc_months_n %}
                {% set freq = arc_freq %}
                {% include "blog_archive_list.html" %}
                <li>
                <a href="{{ url_for( "blog_archives" ) }}" title="See more tags">More...</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="toplevel" href="{{ url_for( "blog_archives" ) }}">Days</a>
            <ul>
                {% set item_type = "blog_archive" %}
                {% set items = arc_days_n %}
                {% set freq = arc_freq %}
                {% include "blog_archive_list.html" %}
                <li>
                <a href="{{ url_for( "blog_archives" ) }}" title="See more tags">More...</a>
                </li>
            </ul>
        </li>
    </ul>

{% endblock body_nav_extras %}
{% block content %}
    {% block blog_content %}

    <article id="blogs">
        
        {% call headings.article() %}
            {% if tag_selection %}
                Blogs Tagged: {{ tag_selection }}
            {% elif date_selection %}
                Blogs From: {{ date_selection }}
            {% elif custom_blog_title %}
                {{ custom_blog_title }}
            {% else %}
                Latest Blogs
            {% endif %}
        {% endcall %}

    {% for page in pages %}
        <section id="{{ page.named }}">
            <header>
                <div class='headline'>
                    <div class='comments'>
                        {% include "disqus_comment_count.html" %}
                    </div>
                    <div class='date'>
                        {{ page.published }} - 
                    </div>
                    <div class='title'>
                        {{ page.title }}
                    </div>
                </div>
            </header>
                {% if page.short %}
                    {{ page.short }}...
                {% else %}
                    {{ page.body[:100] }}...
                {% endif %}
                {% if page.url %}
                    <a class='button' href="{{ url_for("page", page_path=page.path) }}" >
                        Continue Reading
                    </a>
                {% endif %}
        </section>
    {% endfor %}
    </article>

    <article id="blogroll">
        {% call headings.article() %}
            {{ blogroll.title }}
        {% endcall %}
        {{ blogroll.html|safe }}
    </article>
    {% endblock blog_content %}

<script>
    {% include"disqus_comment_count_script.js"%}
</script>

{% endblock %}
