{% extends "base.html" %}
{% import "macro_heading.html" as headings %}
{% block content %}

    <ul class='navbar' id='blog-nav'>
        <li>
            <a class="toplevel" href="{{ url_for( "blog_tags" ) }}">Top Tags</a>
            <ul>
                {% set tags = top_tags %}
                {% include "blog_tag_list.html" %}
                <li>
                <a href="{{ url_for( "blog_tags" ) }}" title="See more tags">More...</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="toplevel" href="{{ url_for( "blog_tags" ) }}">All Tags</a>
            <ul>
                {% set tags = all_tags %}
                {% include "blog_tag_list.html" %}
                <li>
                <a href="{{ url_for( "blog_tags" ) }}" title="See more tags">More...</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="toplevel" href='#'>Empty</a>
        </li>
        <li>
            <a class="toplevel" href='#'>:)</a>
        </li>
        <li>
            <a class="toplevel" href='#'>:)</a>
        </li>
    </ul>

    {% block blog_content %}

    <article id="blogs">
        
        {% call headings.article() %}
            Latest Blogs
            {% if tag_selection %}
                Tagged: {{ tag_selection }}
            {% endif %}
        {% endcall %}

    {% for page in pages %}
    <section id="{{ page.named }}">
            <header>
                <div class='headline'>
                    <div class='comments'>
                        {% include "disqus_comment_count.html" %}
                    </div>
                    <div class='date'>
                        {{ page.published }} - 
                    </div>
                    <div class='title'>
                        {{ page.title }}
                    </div>
                </div>
            </header>
                {% if page.short %}
                    {{ page.short }}...
                {% else %}
                    {{ page.body[:100] }}...
                {% endif %}
                {% if page.url %}
                    <a class='button' href="{{ url_for("page", page_path=page.path) }}" >
                        Continue Reading
                    </a>
                {% endif %}
        </section>
    {% endfor %}
    </article>

    <article id="blogroll">
        {% call headings.article() %}
            {{ blogroll.title }}
        {% endcall %}
        {{ blogroll.html|safe }}
    </article>
    
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'nathanrosspowell'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

    </script>

    {% endblock blog_content %}

{% endblock %}
