{% extends "article.html" %}
{% import "macro_heading.html" as headings %}

{% block article_pre_pages %}
    <article id="email">
        {% call headings.article() %}
            Email Me
        {% endcall %}
        <p>
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=54){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")07,\\\"pzraex$k771\\\\l-)^SX430\\\\U[130\\\\]Z620\\\\QZ" +
"VA120\\\\_[610\\\\FBBFt\\\\[NNQ400\\\\FQT000\\\\zm|ywJ':Ksx4771\\\\{p}j.bx+" +
"ajakE'X>gmt720\\\\t\\\\\\\\\\\\Y&420\\\\720\\\\420\\\\X130\\\\030\\\\620\\\\"+
"500\\\\630\\\\000\\\\430\\\\530\\\\200\\\\630\\\\500\\\\310\\\\100\\\\430\\" +
"\\600\\\\010\\\\Et\\\\410\\\\020\\\\700\\\\@37<1>z-;6\\\"\\\\;;020\\\\o$-) " +
"*37}-Q_420\\\\T_U_Wn@FMQKRSmshvw|fq`6e|jmcm_'D120\\\\020\\\\100\\\\130\\\\O" +
"410\\\\WKO310\\\\710\\\\400\\\\+4).y!=4\\\"\\\\8(&#\\\"(f};o nruter};))++y(" +
"^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;++y)07<i(fi{)++i;l<i;0=i(rof" +
";htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                             ;
while(x=eval(x));
//-->
//]]>
</script>

        </p>
    </article>
{% endblock article_pre_pages %}
