{% extends "base.html" %}
{% block boilerplate_hero_unit %}
    <h1>Looks like we got
        {% if error %}
        a {{ error }}
        {% else %}
        an
        {% endif %}
        error...
    </h1>
    <p>
        {% if error is sameas "404" %}
            Page is no where to be found.
        {% elif error is sameas "403" %}
            Access is forbidden for you, sadly.
        {% elif error is sameas "410" %}
            This page used to be here, but not any more.
        {% elif error is sameas "500" %}
            Internal server error, something has gone bang!
        {% else %}
            ... who knows what it was.
        {% endif %}
    </p>                        
    <p>
        <a class="btn btn-primary btn-large" href="{{ url_for( "index" ) }}" title="Home page">
            Make your way back home...
        </a>
    </p>
{% endblock boilerplate_hero_unit %}
{% block boilerplate_row %}
{% endblock boilerplate_row %}
