{% set items = [
    {
        "type": page.metacritic,
        "icon": "png/metacritic-logo.png",
        "title": "Metacritic for "
    },
    {
        "type": page.facebook,
        "icon": "png/facebook-logo.png",
        "title": "Facebook for ",
    },
    {
        "type": page.twitter,
        "icon": "png/twitter-logo.png",
        "title": "Twitter for ",
    },
    {
        "type": page.gametrailer,
        "icon": "jpg/game-trailers-logo.jpg",
        "title": "GameTrailer for ",
    },
    {
        "type": page.website,
        "icon": page.websiteimg,
        "title": "Website for ",
    }
] %}

{% for item in items %}
    {% if item.type %}
        <a href="{{ item.type }}">
            <img src="{{ url_for( ".static", filename=item.icon ) }}" title="{{ item.title + page.title }}" />
        </a>
    {% endif %}
{% endfor %}
