{% extends "article.html" %}
{% import "macro_heading.html" as headings %}
    
{% block article_pages %}

    {% set article = pages|first %}
    {% include "base_article.html" %} 

    <article id="gameslist">      
        {% call headings.article() %}
            Games List
        {% endcall %}

        {% for page in pages %}
        {% if loop.index is sameas 1 %}
        {% else %}
            <section id="{{ page.named }}">
                    <header>
                        <div class='headline'>
                            <div class='date'>
                                {{ page.published }} - 
                            </div>
                            <div class='title'>
                                {{ page.title|title }}
                            </div>
                        </div>
                    </header>
                        {% if page.short %}
                            {{ page.short }}...
                        {% else %}
                            {{ page.body[:100] }}...
                        {% endif %}
                        {% if page.url %}
                            <a class='button' href="{{ url_for("page", page_path=page.path) }}" >
                                Continue Reading
                            </a>
                        {% endif %}
                </section>
            {% endif %}
        {% endfor %}
    </article>
{% endblock %}
