{% extends "article.html" %}
{% import "macro_heading.html" as headings %}
{% import "macro_media.html" as media %}
{% import "slider_js.js" as slider %}
{% set article = pages|first %}

{% block article_load %}
    {% include "slider_link.js" %}
{% endblock article_load %}

{% block article_complete%}
    {% autoescape false %}
        {{ slider.js( article.mediabar ) }}
    {% endautoescape %}
{% endblock article_complete%}

{% block page_title %}
    {{ article.title }}
{% endblock %}

{% block article_pages %}
    {% set numyoutube = article.mediabar|length %}
    {% if numyoutube is compare( ">", 0 ) %}
        <article id="mediabar">
            {% call headings.article() %}
                {{ article.title }} Media
            {% endcall %}
			<ul id="slider1">
                {% for data in article.mediabar %}
                    <li>
                        {% if data.type is equalto( "youtube" ) %}
                            {{ media.youtube( data.src ) }}
                        {% elif data.type is equalto( "image" ) %}
                            {{ media.image( data.src ) }}
                        {% elif data.type is equalto( "gametrailer" ) %}
                            {{ media.gametrailer( data.src ) }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </article>
    {% endif %}

    <article id="summary">
        {% call headings.article() %}
            {{ article.title|title }}
            Summary
        {% endcall %}
        {{ article.html|safe }}
        <div class="buttons" >
            {% set page = pages|first %}
            {% include "games_bar.html" %}
        </div>
    </article>
{% endblock %}
