{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block base_load %}
    {% block home_load %}
    {% endblock home_load %}
{% endblock base_load %}

{% block base_callback %}
    {% block home_callback %}
    {% endblock home_callback %}
{% endblock base_callback %}

{% block base_complete %}
    {% block home_complete %}
    {% endblock home_complete %}
{% endblock base_complete %}

{% block boilerplate_hero_unit %}
    <h1 class="split-text-over-lines">
       NathanRossPowell.com
    </h1>
    <p>
        Welcome to my slice of the Internet!
        I am a <a href="{{ url_for( "page", page_path = 'about_me' ) }}">computer programmer</a> that makes video 
        game professionally for <a href="http://www.ubisoft.com">Ubisoft</a> and codes all kinds of things in my spare time.
        <br/>
        This website is a learning exercise more than anything but hopefully it is good enough to showcase some of my works
        and accomplishments. Below are links to my latest works and also some bits of social media.
        <br/>
        <br/>
        Thanks,
        <br/>
        Nathan
    </p>
    {{ macros.button_primary( "Erlang", url_for( "page", page_path = 'blog/erlang' ) ) }}
    {{ macros.button_primary( "Watch_Dogs", url_for( "page", page_path = 'games/watch_dogs' ) ) }}
    {{ macros.button_primary( "Interface Zero", url_for( "page", page_path = 'code/interface-zero' ) ) }}
{% endblock boilerplate_hero_unit %}

{% block boilerplate_row %}
    {% call macros.row_span( "Instagram", "Follow me", "http://instagram.com/" + instagram_name ) %}

<!-- INSTANSIVE WIDGET --><script src="http://instansive.com/widget/js/instansive.js"></script><iframe src="http://instansive.com/widgets/ud3fa40b31edf1460ef46e6f8dcea675.html" scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

    {% endcall %}
    {% call macros.row_span( "Twitter", "Follow me", "http://twitter.com/" + twitter_name ) %}

<a class="twitter-timeline" href="https://twitter.com/{{ twitter_name }}" data-widget-id="389099304515690496">Tweets by @nathanross</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    {% endcall %}
    {% call macros.row_span( "Last.fm", "My charts", "http://www.last.fm/user/" + lastfm_name ) %}

<div>
    <a href="http://www.last.fm/user/{{ lastfm_name }}/?chartstyle=minimalLight">
        <img 
            src="http://tapmusic.net/lastfm/collage.php?user={{ lastfm_name }}&type=7day&size=2x8&caption=true" 
            border="0"
            class="img-responsive" 
        />
    </a>
</div>

    {% endcall %}
{% endblock boilerplate_row %}

{% block boilerplate_body_extra %}
<div class="panel panel-default">
    <div class="panel-heading">
        Recent Comments
    </div>
    <div class="panel-body">
<div id="recentcomments" class="dsq-widget">
<script 
    type="text/javascript" 
    src="http://{{ disqus_name }}.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200">
</script>
</div>

    </div>
</div>
{% endblock boilerplate_body_extra %}

