{% extends "article.html" %}


{% block article_post_pages %}

<article>
<table width="100%">
    <col width="300" />
    <col width="300" />
    <tr>
        <th>
            {% call headings.article() %}
                Recent Comments
            {% endcall %}
        </th>
        <th>
            {% call headings.article() %}
                Twitter
            {% endcall %}
        </th>
    </tr>
    <tr>
        <td>

<div id="recentcomments" class="dsq-widget"><script type="text/javascript" src="http://nathanrosspowell.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script></div>

        </td>
        <td> 

<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 5,
  interval: 30000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#f2ecd5'
    },
    tweets: {
      background:'#41363C',
      color: '#f2ecd5',
      links: '#8CD0D3'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('nathanross').start();
</script>

        </td>
    </tr>
</table>

</article>

{% endblock %}
