{% macro menu_dropdown( dropdown_title, dropdown_link, active ) -%}
    <li
        {% if active %}
             class="dropdown active"
         {% else %}
            class="dropdown"
         {% endif %}
    >
        <a href="{{ dropdown_link }}" class="dropdown-toggle" data-toggle="dropdown">
            {{ dropdown_title }}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {{ caller() }}
        </ul>
    </li>
{%- endmacro %}

{% macro menu_link_item( item_title, item_link, active ) -%}
    <li
        {% if active %}
             class="active"
         {% endif %}
    >
        <a href="{{ item_link }}">
            {{ item_title }}
        </a>
    </li>
{%- endmacro %}

{% macro menu_header( header_title ) -%}
    <li class="nav-header">
        {{ header_title }}
    </li>
{%- endmacro %}
{% macro menu_divider() -%}
    <li class="divider"></li>
{%- endmacro %}

{% macro button_primary( button_title, button_link ) -%}
        <a class="btn btn-primary btn-large" href="{{ button_link }}">
            {{ button_title }}
        </a>
{%- endmacro %}

{% macro button( button_title, button_link ) -%}
    <p>
        <a class="btn" href="{{ button_link }}">
            {{ button_title }}
        </a>
    </p>
{%- endmacro %}

{% macro row_span( heading_title, button_title, button_link ) -%}
    <div class="span4">
        <h2>
            {{ heading_title }}
        </h2>
        <p>
            {{ caller() }}
        </p>
        {{ button( button_title, button_link ) }}
    </div>
{%- endmacro %}

{% macro row_span_empty() -%}
    <div class="span4">
    </div>
{%- endmacro %}
