{% macro menu_tile_add_glyph( title ) -%}
    {% if title is textequalto( "About Me" ) %}
        <span class="octicon octicon-person"></span> {{title}}
    {% elif title is textequalto( "Blog" ) %}
        <span class="octicon octicon-keyboard"></span> {{title}}
    {% elif title is textequalto( "Career" ) %}
        <span class="octicon octicon-mortar-board"></span> {{title}}
    {% elif title is textequalto( "Code" ) %}
        <span class="octicon octicon-bug"></span> {{title}}
    {% elif title is textequalto( "Games" ) %}
        <span class="octicon octicon-rocket"></span> {{title}}
    {% else %}
        <span class="octicon octicon-primitive-dot"></span> {{ title }}
    {% endif%}
{%- endmacro %}

{% macro menu_dropdown( dropdown_title, dropdown_link, active ) -%}
    <li
        {% if active %}
             class="dropdown active"
         {% else %}
            class="dropdown"
         {% endif %}
    >
        <a href="{{ dropdown_link }}" class="dropdown-toggle" data-toggle="dropdown">
            {{ menu_tile_add_glyph(dropdown_title) }}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {{ caller() }}
        </ul>
    </li>
{%- endmacro %}

{% macro menu_link_root_item( item_title, item_link, active ) -%}
    <li
        {% if active %}
             class="active"
         {% endif %}
    >
        <a href="{{ item_link }}">
            {{ menu_tile_add_glyph(item_title) }}
        </a>
    </li>
{%- endmacro %}


{% macro menu_link_item( item_title, item_link, active ) -%}
    <li
        {% if active %}
             class="active"
         {% endif %}
    >
        <a href="{{ item_link }}">
            {{ item_title }}
        </a>
    </li>
{%- endmacro %}

{% macro menu_header( header_title ) -%}
    <li class="nav-header">
        {{ header_title }}
    </li>
{%- endmacro %}
{% macro menu_divider() -%}
    <li class="divider"></li>
{%- endmacro %}

{% macro subfolder_link_item( data, item_link, extra ) -%}
        <h3>
            <a href="{{ item_link }}">
            {{ data.title }} 
            </a>
            {{ extra }}
        </h3>
        <div class="well well-subfolder">
            <div class="subfolder">
                {{ data.html|safe }}
            </div>
        </div>
        <a class="btn btn-primary btn-large" href="{{ item_link }}">
            <span class="glyphicon glyphicon-link"></span> Read in full
        </a>
        {% if data.comments %}
            <a class="btn btn-primary btn-large" href="{{ item_link }}#comments-body">
                <span class="glyphicon glyphicon-comment"></span> Comments
            </a>
        {% endif %}
{%- endmacro %}

{% macro button_primary( button_title, button_link ) -%}
    <a class="btn btn-primary btn-large" href="{{ button_link }}">
        {{ button_title }}
    </a>
{%- endmacro %}

{% macro button( button_title, button_link ) -%}
    <p>
        <a class="btn" href="{{ button_link }}">
            {{ button_title }}
        </a>
    </p>
{%- endmacro %}

{% macro button_xs( button_title, button_link ) -%}
        <a class="btn btn-primary btn-xs" href="{{ button_link }}">
            {{ button_title }}
        </a>
{%- endmacro %}

{% macro row_span( heading_title, button_title, button_link ) -%}
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ heading_title|safe }}</h4>
            </div>
            <div class="panel-body">
                {{ caller() }}
                <br/>
                {{ button_primary( button_title, button_link ) }}
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro row_span_empty() -%}
    <div class="span4">
    </div>
{%- endmacro %}

{% macro youtube( url, params = "" ) -%}

<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
    <iframe allowfullscreen="" 
            src="http://www.youtube.com/embed/{{ url }}?feature=player_detailpage" 
            frameborder="0">
    </iframe>
</div>

{%- endmacro %}

{% macro vimeo( url, params = "" ) -%}

<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
     <iframe allowfullscreen="" 
            src="http://player.vimeo.com/video/{{ url }}" 
            frameborder="0">
    </iframe>
</div> 

{%- endmacro %}

{% macro image( url ) -%}

{% set imgurl = url_for( ".static", filename=url ) %} 

<img src="{{ imgurl }}"
style="max-width:600px"
/>
        
{%- endmacro %}


{% macro gametrailer( url ) -%}

<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
    <iframe allowfullscreen="" 
            src="http://media.mtvnservices.com/embed/mgid:arc:video:gametrailers.com:{{ url }}" 
            width="512" 
            height="288" 
            frameborder="0"></iframe>
</div> 

{%- endmacro %}

{% macro disqus_thread( page_id, page_title ) -%}

var disqus_shortname = 'nathanrosspowell';
var disqus_url = "http://nathanrosspowell.com{{ page_id }}";
var disqus_identifier = "{{ page_id }}";
var disqus_title = "{{ page_title }}";
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();

{%- endmacro %}

{% macro panel( title, content ) -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ title }}</h4>
    </div>
    <div class="panel-body">
        {{ content }}
    </div>
</div>

{%- endmacro %}

{% macro panel_call( title ) -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ title }}</h4>
    </div>
    <div class="panel-body">
        {{ caller() }}
    </div>
</div>

{%- endmacro %}

{% macro accordian_call( id, title ) -%}

  <div class="panel-group" id="{{ id }}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#{{ id }}" href="#{{ id }}-body">
            {{ title }}<b class="caret"></b>
          </a>
        </h4>
      </div>
      <div id="{{ id }}-body" class="panel-collapse collapse">
        <div class="panel-body">
          {{ caller() }}
        </div>
      </div>
    </div>
  </div>

{%- endmacro %}
