{% extends "social.html" %}
{% block social_display %}
<table>
    {% for value in items %}
        <tr> 
            <td>
                {% set filename = "png/" + value.icon + ".png" %}
                <a class="icon"
                   href="{{ value.link }}" 
                   title="{{ value.title }}"
                >
                    <img class="icon" src="{{ url_for(".static", filename=filename ) }}" />
                </a>
            </td>
            <td>
                -
                <a class="button"
                   href="{{ value.link }}" 
                   title="{{ value.title }}"
                >
                    {{ value.title }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock social_display %}
