{% set items = [ 
    {   
        "link": "http://feeds.feedburner.com/nathanrosspowell", 
        "icon": "rss",
        "title": "Feedburner",
    },
    {
        "link": "http://linkedin.com/in/nathanrosspowell",
        "icon": "linkedin",
        "title": "LinkedIN",
    },
    {
        "link": "http://github.com/nathanrosspowell",
        "icon": "github",
        "title": "GitHub",
    },
    {   
        "link": "http://last.fm/user/partyboypowell",
        "icon": "last-fm",
        "title": "Last.fm",
    },
    {
        "link": "http://twitter.com/nathanross",
        "icon": "twitter",
        "title": "Twitter",
    },
    {
        "link": "http://facebook.com/nathanrosspowell", 
        "icon": "facebook",
        "title": "Facebook",
    },
    {
        "link": "https://plus.google.com/u/0/117956868987272677661", 
        "icon": "google+",
        "title": "Google+",
    },
] %}

{% block social_display %}
    <ul class="icons">
        {% for value in items %}
            {% set filename = "png/" + value.icon + ".png" %}
            <li>
                <a class="icon"
                   href="{{ value.link }}" 
                   title="{{ value.title }}"
                >
                    <img class="icon" src="{{ url_for(".static", filename=filename ) }}" />
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock social_display %}
