{% extends "blog.html" %}
{% import "macro_heading.html" as headings %}
{% block blog_content %}
    {% set item_type = "blog_tag" %}
    <article id="blogtags">
        {% call headings.article() %}
             Blog Tags
        {% endcall %}
        <table>
            <tr>
                <th>
                    {% call headings.article() %}
                        Populatiry
                    {% endcall %}
                </th>
                <th>
                    {% call headings.article() %}
                        Alphabetical
                    {% endcall %}
                </th>
            </tr>
            <tr>
                <td>
                    {% set items = top_tags %}
                    {% set freq = tag_freq %}
                    <ul>
                        {% include "blog_tag_list.html" %}
                    </ul>
                </td>
                <td>
                    {% set items = all_tags %}
                    {% set freq = tag_freq %}
                    <ul>
                        {% include "blog_tag_list.html" %}
                    </ul>
                </td>
            </tr>
        </table>
    </article>
{% endblock %}
